<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="org.golang.todo.mouseapp" platformBuildVersionCode="15" platformBuildVersionName="4.0.4-1406430"
          xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission
      android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:label="Mouseapp"
      android:debuggable="true"
      android:windowFullscreen="true"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:label="Mouseapp" android:name="org.golang.app.GoNativeActivity" android:configChanges="keyboardHidden|orientation">
            <meta-data android:name="android.app.lib_name" android:value="mouseapp" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
